@import 'simplelightbox/dist/simple-lightbox.min.css';
.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  height: 696px;
  padding: 24px 156px;
  gap: 24px;
  margin: 0 auto;
  margin-top: 30px;
}

.gallery .gallery-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  max-height: 200px;
}
.gallery-link {
  width: 100%;
  height: 100%;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
}
.sl-wrapper.simple-lightbox {
  background: rgba(46, 47, 66, 0.8);
}
.sl-wrapper .sl-image {
  max-width: 1280px;
  max-height: 696px;
}
